<launch>
  <!-- To run on the slave Pi (the Pi Zero W) -->
  <!-- Hardware interface nodes -->
  <node pkg="pacmouse_pkg" type="cpp_test" name="gpio_handler_cpp" output="screen" /> <!-- Handles encoders, motors, buttons -->
  <node pkg="pacmouse_pkg" type="led_status_node.py" name="led_status_node" output="screen" />
  <node pkg="pacmouse_pkg" type="imu_node.py" name="imu_node" output="screen" />
  <node pkg="pacmouse_pkg" type="tof_pub" name="lidar_node" output="screen" />
</launch>
