<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="hokuyo">

<xacro:macro name="laser_rangefinder" params="xyz rpy parent name">
    <joint name="laser_rangefinder_joint_${name}" type="fixed">
        <axis xyz="0 0 1" />
        <origin xyz="${xyz}" rpy="${rpy}"/>
        <parent link="${parent}"/>
        <child link="laser_rangefinder_link_${name}"/>
    </joint>

    <link name="laser_rangefinder_link_${name}">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
              <box size="0.01 0.01778 0.0127" />
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.00102 0.01778 0.0127" />
            </geometry>
            <material name="iRobot/LightBlue"/>
        </visual>
        <inertial>
            <mass value="0" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>

    <gazebo reference="laser_rangefinder_link_${name}">
        <gravity>true</gravity>
        <sensor type="ray" name="head_laser_sensor_${name}">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>40</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>2</samples>
                        <resolution>1</resolution>
                        <min_angle>-.00001</min_angle>
                        <max_angle>.00001</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>.01</min>
                    <max>2</max>
                    <resolution>0.025</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>.01</stddev>
                </noise>
            </ray>
            <plugin name="gazebo_ros_head_laser_controller" filename="libgazebo_ros_laser.so">
              <robotNamespace>/</robotNamespace>
                <topicName>laser_scan_${name}</topicName>
                <frameName>laser_rangefinder_link_${name}</frameName>
            </plugin>
        </sensor>
    </gazebo>

</xacro:macro>

</robot>
