<launch>

    <!-- Load parameters in the /pacmouse/params namespace -->
    <rosparam command="load" file="$(find pacmouse_pkg)/src/params.yaml" ns="/pacmouse/params" />

    <node pkg="pacmouse_pkg" type="mode_controller_node.py" name="mode_controller_node" output="screen" />

    <!-- Hardware interface nodes -->
    <node pkg="pacmouse_pkg" type="cpp_test" name="gpio_handler_cpp" output="screen" /> <!-- Handles encoders, motors -->
    <node pkg="pacmouse_pkg" type="button_publisher.py" name="button_publisher_cpp" output="screen" />
    <node pkg="pacmouse_pkg" type="led_status_node.py" name="led_status_node" output="screen" />
    <node pkg="pacmouse_pkg" type="imu_node.py" name="imu_node" output="screen" />
    <node pkg="pacmouse_pkg" type="lidar_node.py" name="lidar_node" output="screen" />

    <!-- Higher-level nodes -->
    <!-- planner, pose estimator, maze estimator, etc. -->


</launch>
