<launch>
  <arg name="model" default="$(find pacmouse_pkg)/urdf/mouse.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find pacmouse_pkg)/rviz/urdf.rviz" />
  <arg name="world_name" default="$(find pacmouse_pkg)/gazebo_worlds/TestMaze.world" />

  <include file="$(find pacmouse_pkg)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="world_name" value="$(arg world_name)" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <rosparam command="load"
            file="$(find pacmouse_pkg)/config/joints.yaml"
            ns="mouse_joint_state_controller" />
  <rosparam command="load"
            file="$(find pacmouse_pkg)/config/diffdrive.yaml"
            ns="mouse_diff_drive_controller" />

  <node name="mouse_controller_spawner" pkg="controller_manager" type="spawner"
    args="mouse_joint_state_controller
          mouse_diff_drive_controller "/>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/mouse_diff_drive_controller/cmd_vel"/>
  </node>
</launch>
